<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admincss.css"/>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <div class="menu-container">
        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="menu-item">
            <i class="fas fa-users"></i>
            <a href="admin/listuser">Quản lý người dùng</a>
        </div>
        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="menu-item">
            <i class="fas fa-store"></i>
            <a href="admin/new-merchant">Thêm cửa hàng mới</a>
        </div>
        <div th:if="${#authorization.expression('hasRole(''MERCHANT'')')}" class="menu-item">
            <i class="fas fa-store"></i>
            <a href="merchant/profile">Profile merchant</a>
        </div>
        <div class="menu-item">
            <i class="fas fa-store-alt"></i>
            <a href="products">Trang cửa hàng</a>
        </div>
        <div class="menu-item">
            <i class="fas fa-store"></i>
            <a href="admin/shoplist">DS cửa hàng</a>
        </div>
        <div class="menu-item">
            <i class="fas fa-box-open"></i>
            <a href="products/create">Thêm sản phẩm</a>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
