<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Người Dùng</title>
</head>
<body>
<h1>Merchant Information</h1>

<p><b>Name:</b> ${merchant.name}</p>
<p><b>Phone:</b> ${merchant.phone}</p>
<p><b>Email:</b> ${merchant.email}</p>
<p><b>Address:</b> ${merchant.address}</p>
<p><b>Slogan:</b> ${merchant.slogan}</p>

<a href="/merchant/home">Go back to home</a>
</body>
</html>

</body>
</html>